<header class="mb-3">
  <div class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">TodoApp</div>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Tasks", tasks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "logout", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "login", login_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
