<header class="mb-3">
  <div class="app-title navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">TodoApp</div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "User", users_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</header>
