<%= content_for(:html_head) do %>
  <%= stylesheet_link_tag "users" %>
<% end %>

<div class="user-create-container">
  <div class="user-create-container-inner">
    <div class="user-create-content">
      <h1>TaskManagerを始めましょう</h1>

      <%= render partial: "form", locals: { user: @user } %>
    </div>
  </div>
</div>
