/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  margin: 0;
}

a {
  cursor: pointer;
}

.page-container {
  position: fixed;
  width: calc(100% - 250px);
  height: 100%;
  left: 250px;
  padding: 3rem;
  overflow-y: scroll;

  h1 {
    margin-bottom: 20px;
  }
}

// ヘッダーメニューのCSS
.header {
  border-top: 1px solid  rgba(52, 58, 64, .5);
  border-bottom: 1px solid rgba(52, 58, 64, .5);

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .8rem;
    padding-right: .8rem;
    margin-left: auto;
    margin-right: auto;

    .header-start {
      font-weight: bold;
      font-size: 20px;

      a {
        color: #222;
        text-decoration: none;
      }
    }

    .header-end {
      display: flex;
      align-items: center;

      .header-nav-wrapper {
        display: flex;
        list-style: none;
        padding: 0;

        .header-nav-item {
          display: block;
          padding: 1.5rem 1rem;

          .text {
            line-height: 2;
          }

          a {
            text-decoration: none;
            color: #222;
          }

          .button {
            min-width: initial;
            padding: .2rem 1.2rem;
            appearance: none;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            display: none;
          }

          .login-button {
            background: #2fa0f6;
          }

          .logout-button {
            background: red;
          }

          .active {
            display: block;
          }
        }
      }
    }
  }
}
.header-bg-1 {
  background: #C0C0C0;
}
.header-bg-2 {
  background: #009c75;
}
.header-bg-3 {
  background: #3F1515;
}
.header-bg-4 {
  background: #FBC78D;
}
.header-bg-5 {
  background: #fff;
}
.header-bg-6 {
  background: #B1BEEA;
}
.header-bg-7 {
  background: #FB93AC;
}

// 左のサイドメニューバーのCSS
.sidebar-wrapper {
  position: fixed;
  z-index: 2;
  left: 0;
  width: 250px;
  height: 100%;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 5rem 0 0 0;
  padding: 0;
  list-style: none;

  &-item {
    font-size: 1.5rem;
    margin-bottom: 3rem;

    a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: .8rem;

      &:hover {
        background: rgba(52, 58, 64, .5);
      }
    }

    svg {
      margin-right: .8rem;
    }
  }
}
.sidebar-bg-1 {
  background: #0f0e17;
}
.sidebar-bg-2 {
  background: #93c0e7;
}
.sidebar-bg-3 {
  background: #939369;
}
.sidebar-bg-4 {
  background: #B3DDD1;
}
.sidebar-bg-5 {
  background: #FFC4C8;
}
.sidebar-bg-6 {
  background: #6F89A2;
}
.sidebar-bg-7 {
  background: #A7D676;
}
