.brain-training-container {
  width: 100%;

  &-inner {
    width: 100%;
    padding: 7rem 5rem 0;
  }
}
.brain-training-title {
  font-size: 50px;
  margin: 0;
}
.brain-training-explation {
  padding-left: 30px;
}
.brain-training-contents {
  width: 100%;
  position: relative;
  margin: 4rem auto 8rem;

  &-item-1,
  &-item-2 {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #000000;
    table-layout: fixed;

    .tr-question-2-1,
    .tr-question-2-2 {
      letter-spacing: 2px;
      font-size: 22px;
    }

    .selected {
      box-shadow: 0 0 0 3px black;
    }

    td {
      border: 1px solid #000000;
      text-align: center;

      img {
        height: 50px;
      }
    }
  }

  .question-2-decision-container {
    width: 600px;
    margin: 0 auto;
    height: 80px;

    &-inner {
      margin-top: 20px;
      float: right;
      position: relative;
    }

    .question-2-decision-button {
      width: 50px;
      font-size: 14px;
      text-align: center;
      letter-spacing: 2px;
      display: inline-block;
      border: 1px solid #000000;
      background: green;
      border-radius: 18px;
    }
  }

  &-item-3 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #000000;
    position: relative;

    .panel {
      text-align: center;
      border: 1px solid #000000;
      position: absolute;
    }

    .panel-1 {
      background: rgb(247, 200, 200);
    }
    .panel-2 {
      background: rgb(254, 255, 201);
    }
    .panel-3 {
      background: rgb(207, 255, 195);
    }
    .panel-4 {
      background: rgb(200, 238, 247);
    }
    .panel-5 {
      background: rgb(200, 205, 247);
    }
    .panel-6 {
      background: rgb(255, 197, 164);
    }
    .panel-7 {
      background: rgb(135, 253, 106);
    }
    .panel-8 {
      background: rgb(250, 140, 226);
    }
    .panel-9 {
      background: rgb(228, 228, 228);
    }

    img {
      height: 70px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      margin: auto;
    }
  }

  &-item-4,
  &-item-5 {
    position: relative;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    border: 1px solid #000000;
  }
}
